{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
<body>
<div class="w3-container">
<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'sellapp:home' %}" class="w3-bar-item w3-button w3-padding-large"><img src="{% static 'images/logo.jpg' %}" style="height: 20px; width: 20px;"> HOME</a>
    <!-- <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">BAND</a> -->
    {% if request.user.is_authenticated %}
    <a href="{% url 'sellapp:blogcreate' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">POST</a>
    {% endif %}
    
    <div class="w3-dropdown-hover w3-hide-small">
      <button class="w3-padding-large w3-button" title="More">CATEGORY <i class="fa fa-caret-down"></i></button>     
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'sellapp:mobile' %}" class="w3-bar-item w3-button">Mobile</a>
        <a href="{% url 'sellapp:bike' %}" class="w3-bar-item w3-button">Bike</a>
        <a href="{% url 'sellapp:cycle' %}" class="w3-bar-item w3-button">Cycle</a>
        <a href="{% url 'sellapp:electronics' %}" class="w3-bar-item w3-button">Electronics</a>
        <a href="{% url 'sellapp:furniture' %}" class="w3-bar-item w3-button">Furnitures</a>
      </div>
    </div>
    {% if not request.user.is_authenticated %}
    <a href="{% url 'sellapp:customerlogin' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOGIN</a>
    {% else %}
    <a href="{% url 'sellapp:mypost' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">MY POST</a>
    <a href="{% url 'sellapp:profile' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PROFILE</a>
    <a href="{% url 'sellapp:customerlogout' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOGOUT</a>
    {% endif %}
    <form class="example mt-2" action="{% url 'sellapp:search' %}" method="GET">
  <input type="text" placeholder="Search.." name="keyword" onfocus="this.value = '';" onblur="if (this.value == '')" required>
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
  </div>
</div>
<!-- Navbar on small screens (remove the onclick attribute if you want the navbar to always show on top of the content when clicking on the links) -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  {% if not request.user.is_authenticated %}
  <a href="{% url 'sellapp:customerlogin' %}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOGIN</a>
  {% else %}
  <a href="{% url 'sellapp:blogcreate' %}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">POST</a>
  <a href="{% url 'sellapp:mypost' %}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">MY POST</a>
  <a href="{% url 'sellapp:profile' %}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">PROFILE</a>
  <a href="{% url 'sellapp:customerlogout' %}" class="w3-bar-item w3-button w3-padding-large" onclick="myFunction()">LOGOUT</a>
  {% endif %}
</div>

  
<!-- End Page Content -->
<br>
<br>
<div style="
list-style: none;
background-color: #2e6da4;
color: white;
box-shadow: 12px 12px 12px aqua;
text-align: center;">
        {% if messages %}
        <ul class="messages">
               {% for message in messages %}
                     <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
               {% endfor %}
       </ul>
{% endif %}
</div>


<div class="container">
  <div class="row">
    <div class="col-4">
    
 <h2 style="margin-left: 20px;">Filter</h2>
          <div class="w3-dropdown-hover w3-show-small">
      <ul style="margin-left:20px; background-color: black; color: white;height: 30px;" >CATEGORY <i class="fa fa-caret-down" style="margin-right: 10px;"></i> </ul>   
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'sellapp:mobile' %}" class="w3-bar-item w3-button">Mobile</a>
        <a href="{% url 'sellapp:bike' %}" class="w3-bar-item w3-button">Bike</a>
        <a href="{% url 'sellapp:cycle' %}" class="w3-bar-item w3-button">Cycle</a>
        <a href="{% url 'sellapp:electronics' %}" class="w3-bar-item w3-button">Electronics</a>
        <a href="{% url 'sellapp:furniture' %}" class="w3-bar-item w3-button">Furnitures</a>
      </div>
    </div>
<h5 style="margin-top: 10px;margin-left: 20px;">Places</h5>
          <div class="w3-dropdown-hover w3-show-small">
      <ul style="margin-left:20px; background-color: black; color: white;height: 30px;" >PLACES <i class="fa fa-caret-down" style="margin-right: 10px;"></i> </ul>   
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'sellapp:mobile' %}" class="w3-bar-item w3-button">Kathmandu</a>
        <a href="{% url 'sellapp:bike' %}" class="w3-bar-item w3-button">Janakpur</a>
        <a href="{% url 'sellapp:cycle' %}" class="w3-bar-item w3-button">Pokhara</a>
        <a href="{% url 'sellapp:electronics' %}" class="w3-bar-item w3-button">Biratnagar</a>
      </div>
    </div>
    
            <h5 style="margin-left: 20px;"><b>Price</b></h5>
        <div class="w3-dropdown-hover w3-show-small">
      <ul style="margin-left:20px; background-color: black; color: white;height: 30px;" >HIGH/LOW <i class="fa fa-caret-down" style="margin-right: 10px;"></i> </ul>   
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{% url 'sellapp:hightolow' %}" class="w3-bar-item w3-button">High to low</a>
        <a href="{% url 'sellapp:lowtohigh' %}" class="w3-bar-item w3-button">Low to high</a>
      </div>
    </div>
    <br><br>
            
                <form action="{% url 'sellapp:pricerange' %}" method="POST" style="margin-left: 20px;">
                    {% csrf_token %}
                    Min: <input type="text" id="minsalarytxt" name="minprice" placeholder="0" style="width: 65px;border-radius: 65px;">
                    Max: <input type="text" id="maxsalarytxt" name="maxprice" placeholder="10000" style="width: 65px;border-radius: 65px;">
                    <input type="submit" name="search">
                </form>
    


    </div>
    <div class="col-8">
       {% block content %}
      {% endblock %}
    </div>

  </div>
</div>


<div style="width: 100%;">
<footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
  <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook-official w3-hover-opacity"></i></a>
  <a href="https://www.instagram.com/" target="_blank"><i class="fa fa-instagram w3-hover-opacity"></i></a>
  <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-snapchat w3-hover-opacity"></i></a>
  <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-pinterest-p w3-hover-opacity"></i></a>
  <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-twitter w3-hover-opacity"></i></a>
  <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-linkedin w3-hover-opacity"></i></a>
  <p class="w3-medium">Powered by <a href="{% url 'sellapp:home' %}" target="_blank">LenDenNepal</a></p>
</footer>
</div>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<script>
$(document).ready(function(){
    $(".dropdown").hover(            
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideDown("fast");
            $(this).toggleClass('open');        
        },
        function() {
            $('.dropdown-menu', this).stop( true, true ).slideUp("fast");
            $(this).toggleClass('open');       
        }
    );
});
</script>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */
                                
            $().UItoTop({ easingType: 'easeOutQuart' });
                                
            });
    </script>
<script>
// Automatic Slideshow - change image every 4 seconds
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 4000);    
}

// Used to toggle the menu on small screens when clicking on the menu button
function myFunction() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}

// When the user clicks anywhere outside of the modal, close it
var modal = document.getElementById('ticketModal');
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
    <script type="text/javascript">
        $(document).ready(function() {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
                };
            */
                                
            $().UItoTop({ easingType: 'easeOutQuart' });
                                
            });
    </script>


<script type="text/javascript">
var slideIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > x.length) {slideIndex = 1}
  x[slideIndex-1].style.display = "block";
  setTimeout(carousel, 2000); // Change image every 2 seconds
}
</script>

</body>
</html>