{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="row mt-2">
	<div>
  <img src="{{post.image.url}}" style="height: 200px; object-fit: contain; width: 250px;">
    <p style="text-align: center;margin-top: 0px;">More images</p>
    {% for a in post.postimage_set.all %}
    <a href="{{a.images.url}}" target="_blank">
    <img class="mySlides" src="{{a.images.url}}" style="height: 100px; object-fit: contain; width: 250px;margin-top: 0px;">
    </a>
    {% endfor %}


       </div>

	<div style="margin-top: 5px; margin-left: 10px;">
			<h4>Name: {{post.title}}</h4>
			<p>Phone: {{post.phone}}</p>
			<p>Address: {{post.address}}</p>
			<p>Description: {{post.description}}</p>
			<p><i class="fa fa-user"></i> {{post.author}} on {{ post.date|date:'d M, Y' }}</p><br>
            <h6><b>Comments:</b></h6>
            {{ post.comment_set.all.count }} Comment{{ post.comment_set.all|pluralize }}
                    {% for comment in post.comment_set.all %}
                    <p style="font-size: 13px;"><b>{{ comment.commented_by }}:</b>
                    {{ comment.comment }}</p>
                    {% endfor %}
            {% if request.user.is_authenticated %}
                  <form action="" method="POST" class='ui fluid form'>
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value={{post.id}}>
                    {{ form|crispy }}
                    <button type="submit" name="submit_c_form" class="ui primary button mt-1 w-full">Comment</button>
                </form>
    
                {% endif %}
</div>
</div>
{% endblock %}
{% block scripts %}
    <script>
        $( document ).ready(function() {
            let display = false
            $(".cmt_btn").click(function () {
                if (display===false) {
                    $(this).next(".comment-box").show("slow");
                    display=true
                } else {
                    $(this).next(".comment-box").hide("slow");
                    display=false
                }  
            });
    </script>
{% endblock scripts %}

