{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="col-3">
<h2 class="text-center" style="color: white;">Update</h2>       
        

<form method="post" enctype="multipart/form-data" action="">  <!-- Pic upload garana lai enctype ani vitra ko ab kura dinu parxa     -->
    {% csrf_token %}  <!-- YAsle encrypted form ma data pathau xa    -->
    {{form.as_p}}  <!-- KAsto type ko dekhnu xa ustai type ko aauxa like p vaneko paragraph ma aauxa ani table gate tabbular form maa aauxa ul garda paragraph ma aauxa tra dotted form ma -->
    </br>
    Are You Sure!!! You want to delete this post {{object.title}}?  <!-- object le views.py ma context_object_name nam diyera object liyeko ho... Yo aafai linxa -->
    <br>
    <a href="/mypost/" class="btn btn-primary">Cancel</a>
    <button class="btn btn-danger">Delete</button>
    {% if error %}
    {{error}}
    {% endif %}
  </form>
   </div
{% endblock %}