{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="row mt-2">
	<div>
  <img src="{{post.image.url}}" style="height: 200px; object-fit: contain; width: 250px;">
	<div class="row">
                {% for a in post.postimage_set.all %}
                <div class="col-md-4 p-3">
                    <a href="{{a.image.url}}" target="_blank">
                        <img src="{{a.image.url}}" class="img-fluid" style="height: 100px; object-fit: contain;" alt="hi">
                    </a>
                </div>
                {% endfor %}
            </div>
       </div>
	<div class="col-4" style="margin-top: 5px;">
			<h4>Name: {{post.title}}</h4>
			<p>Phone: {{post.phone}}</p>
			<p>Address: {{post.address}}</p>
			<p>Description: {{post.description}}</p>
			<p>Owner: {{post.author}} on {{post.date}}</p>
			{{post.id}}

			<h3>Comments:</h3>
				{% for comment in post.comment_set.all %}
				<p>{{comment.comment}}</p>
			
	{%endfor %}
</div>
</div>
{% endblock %}
