{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<h2 style="color: black;">Signup Here</h2>
    <form method="post" enctype="multipart/form-data"> 
    {% csrf_token %}  <!-- YAsle encrypted form ma data pathau xa    -->
    {{form|crispy}}
    <br>
    <button class="btn btn-primary">Signup</button><br>
    {% if error %}
    {{error}}
    {% endif %}

    </form>
   <p> I have account <a href="{% url 'sellapp:customerlogin' %}">Login here</a></p>
{% endblock %}